.navbar {
    display: flex;
    justify-content: flex-end; /* Aligns children (links) to the right */
    padding: 0  0px; /* Consistent padding on the sides */
    height: 55px; /* Increased height for a thicker navbar */
    background-color: #eee2dc; /* Background color of the navbar */
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); Subtle shadow for depth */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    margin-right: 0px; /* Right margin for spacing between links */
    text-decoration: none; /* Removes underline from links */
    color: #BAB2B5; /* Dark grey text color for contrast */
    font-size: 21px; /* Larger font size for better readability */
    padding: 14px 30px; /* Increased padding for larger clickable area */
    border-radius: 0px; /* Rounded corners for a softer look */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
}

.navbar a:hover {
    background-color:  #AC3b61; /* Changes background on hover */
    color: #123c69; /* Changes text color on hover */
}

.navbar a.active {
    border-bottom: 3px solid #AC3b61; /* Underline effect for active link */
}


@media (max-width: 768px) {
    .navbar {
        justify-content: center; /* Center-aligns the nav links on smaller screens */
    }
    .navbar a {
        margin-right: 10px; /* Reduces margin between links on smaller screens */
        padding: 5px 10px; /* Reduces padding around links for smaller screens */
    }
}
