.projects-container {
    padding: 2px 5em;
    background-color: #EEE2DC;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out both;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

.projects-container h2 {
    margin-bottom: 50px;
    font-size: 2.8rem;
    color: #123C69;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.projects-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    width: 400px;
    padding: 20px;
    min-height: 280px;
    border-radius: 20px; /* Slightly reduced for a modern look */
    margin: 20px;
    background-color: #EDC7B7;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.project-card::after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    background-color: rgba(172, 59, 97, 0.2);
    transition: all 0.6s ease-out;
    transform: rotate(30deg);
}

.project-card:hover::after {
    top: -30%;
    left: -30%;
    transform: rotate(0deg);
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
}

.project-card h3 {
    color: #AC3B61;
    font-size: 28px;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 18px;
    color: #123C69;
    line-height: 1.6; /* Improved readability */
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.skill-tag-in-projects {
    background-color: #123C69;
    color: #EEE2DC;
    border-radius: 20px;
    padding: 8px 16px; /* Larger for better visibility */
    font-size: 12px; /* Larger text for better legibility */
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.skill-tag-in-projects:hover {
    background-color: #AC3B61; /* Change color on hover */
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .projects-container {
        padding: 10px;
    }

    .project-card {
        width: 95%;
    }
}
