.skills-container {
    display: flex;
    justify-content: center; /* Center the skill categories horizontally */
    align-items: flex-start; /* Align items to the top */
    
    background-color: #EEE2DC; /* Default background */
    text-align: center; /* Ensure text is centered */
    padding: 0px 12em; /* Adjusted top padding */
    flex-wrap: wrap; /* Allow categories to wrap on smaller screens */
    
}

.skills-container h2 {
    width:100%;
    color: #123C69; /* Dark blue color from your palette */
    font-size: 2.8rem; /* Large font size for header */
    margin-bottom: 0; /* Redu   ced space below the header */
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.skill-category h3 {
    height: 80px; /* Fixed height for all h3 tags */
    color: #AC3B61; /* Reddish color for category titles */
    margin-bottom: 10px; /* Reduced space below the category title */
    font-size: 1.3rem; /* Size for readability */
    display: flex; /* Use flexbox to vertically center text */
    /* align-items: center; Center text vertically */
    justify-content: center; /* Center text horizontally */
    margin-top: -6em;
}

.skill-category {
    flex: 1; /* Grow to fill space */
    width: 120px; /*Minimum width for each category */
    margin: 5px; /* Space around each category */
    padding: 10px;
    border-radius: 15px;
    margin-top: 0;
    
    /*background-color: #EDC7B7;  Lighter background for each category 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.skill-tags {
    display: flex;
    flex-direction: column; /* Stack tags vertically */
    align-items: center; /* Center tags within category */
    gap: 15px; /* Space between tags */
}

.skill-tag {
    display: inline-block;
    width: 85%; /* Set fixed width for consistency */
    text-align: center; /* Center text within tags */
    background-color: #123C69; /* Dark blue */
    border-radius: 50px;
    padding: 8px;
    font-size: 0.75rem; /* Standard font size for tags */
    color: #EEE2DC; /* White text for contrast */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hide text that overflows */
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center; /* Center everything on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .skill-category {
        width: 100%; /* Full width for mobile view */
    }
}
