section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #333;
}

li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  list-style: none;
  padding: 0;
}

li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
}
.timeline-container {
  position: relative;
  padding-left: 50px;
  margin: 20px 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #333;
  border: 3px solid #fff; /* Gives a nice border around the circle */
}

.timeline-content {
  padding-left: 40px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.timeline-content h3 {
  margin-top: 0;
  color: #333;
}

.timeline-content p {
  margin-bottom: 0;
}

/* Add a line connecting the items */
.timeline-container::after {
  content: '';
  position: absolute;
  left: 11px; /* Center the line in the middle of the circle */
  top: 0;
  height: 100%;
  width: 3px;
  background: #ccc;
  z-index: -1;
}
